# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
!setup.cfg
!cfg/yolov3*.cfg

storage.googleapis.com
runs/*
data/*
results*.csv

# n
dcustom.py
_detect_custom_2.py
_detect_custom_3.py
_detect.py
diode.py
motor.py
mstop.py
NEW.PY
memo.py
pipe.py
pwm.py
prev_union.py
read.py
test.py
ultrasonic.py
userver.py
counterside_union.py
bufferclear.py
__pycache__/*
models/*
utils/*
*.pt
yolov7_test/*
